version: '3'

services:
  dev:
    container_name: dockerAssignment
    image: bot

    build:
     context: .
     dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./:/app
    # stdin_open: true
    # environment:
    #   - CHOKIDAR_USEPOLLING=true